:root {
  --gradient-background: linear-gradient(
    0.33turn,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  font-size: 16px;
}
img {
  max-width: 200px;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background: #1e1e24;
}

/* Global classes */
.light {
  color: rgba(211, 211, 211, 0.793);
  font-size: 1rem;
  letter-spacing: 2px;
}
.header {
  font-size: 2.1rem;
}

.main {
  margin-left: 5rem;
}

/* navbar */
.navbar {
  position: fixed;
  transition: 200ms ease;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.nav-link svg {
  width: 1.5rem;
  min-width: 1.5rem;
  margin: 0 auto;
}
.link-svg {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transition: 30ms ease;
}

.link-svg:hover {
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  background: var(--gradient-background);
  fill: white;
}

/* Navbar Meida Queries */
@media only screen and (min-width: 600px) {
  .navbar {
    border-right: 1px solid lightgray;
    width: 5rem;
    height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    background: white;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }

  .logo-item {
    display: none;
  }
  .nav-link {
    align-items: center;
    justify-content: center;
  }
  .main {
    margin: 0;
  }
}
